[submodule "articles"]
	path = articles
	url = https://github.com/techmc-wiki/Articles.git
	branch = main
[submodule "glossary"]
	path = glossary
	url = https://github.com/TechMC-Glossary/TechMC-Glossary
